body{

    margin-left: 40px;
    margin-right: 40px;
    font-family: "SoDoSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      
}
header{
    padding-top: 15px;
    display: flex;
    align-items: center;
    
}


header img{
    width: 50px;  
    height: 50px;  
}
.hspn{

    display: flex;
    align-content: center;
    gap: 25px;
    font-family: "SoDoSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-feature-settings: "calt";
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.2px ;
}


.hspnA{
    display: flex;
    gap: 20px;
}
.hspnA a{

text-decoration: none;
color: black;
}
.hspnA a:hover{

text-decoration: none;

color: rgb(0, 117,74);
}

.ics{
    display: flex;

    padding-left: 600px;
    text-decoration: none;
}

.icn{

   font-size: 20px;   
    color: black;
}

.str{
  font-weight: 700;
  color: black;
    padding-left: 7px;
    font-size: 13px;
    letter-spacing: none;
}
.ics:hover .icn,
.ics:hover .str {
    color: green;
}



.hspnB{

    display: flex;
    align-items: center;
    margin-left: 95px;
}
.hbtn{
    
    border-radius: 50px;
    border: 1px solid black;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 80px;
    text-decoration: none;
    color: black;
    align-self: center;
    background-color: white;
    margin-left: 25px;
    font-weight: 600;
    transition: 0.3s ease;
}
.hbtn2{

    border-radius: 50px;
    text-align: center;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 80px;
    padding-right: 10px;
    margin-left: 25px;
    
    background-color: black;
    
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding-left: 10px;
    transition: 0.2s ease;
    
    
}
.hbtn:hover{
    background-color: rgba(0, 0, 0, 0.13);
}
.hbtn2:hover{
    background-color: rgba(0, 0, 0, 0.662);
}

.banner{
    margin-top: 21px;
    background-color: #32462f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SoDoSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.strt{

    border: 1.6px solid white;
    background-color: #32462f;
    border-radius: 50px;
    padding-left: 12px ;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    text-decoration: none;
    font-size: 19px;
    font-weight: 300;
    transition: 0.5s ease;
}
 
a.strt:hover {
    background-color:rgb(0, 117,74);
}
.imgblk1{
     display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    background-color: rgb(158, 0, 37);
    
}

.blkn1{
    
   margin: auto;
   display: flex;
   flex-direction: column;
    align-items: center;
    color: white;
   
}
.blkn1 p{

    text-align: center;
}
.ordr1{

    text-decoration:none;
    color: rgb(0, 117, 74);
    background-color: white;
    font-size: 16px;
    border-radius: 50px;
    height: 30px;
    width: 200px;
    text-align: center;
    padding-top: 12px;
    font-weight: 700;
    transition: .4s ease;
}
.ordr1:hover{

    background-color:rgba(255, 255, 255, 0.808) ;
} 
 .blkn1 .ordr2{

    text-decoration:none;
    color: white;
    background-color: rgb(0, 117, 74);
    font-size: 16px;
    border-radius: 50px;
    height: 30px;
    width: 120px;
    text-align: center;
    padding-top: 12px;
    font-weight: 700;
    transition: .4s ease;
    border:1px solid white;
}
.ordr2:hover{

    background-color: rgb(0, 97, 62);
    
} 
 .ordr3{

    text-decoration:none;
    color: white;
    background-color: rgb(170, 29, 56);
    font-size: 16px;
    border-radius: 50px;
    height: 30px;
    width: 120px;
    text-align: center;
    padding-top: 12px;
    font-weight: 700;
    transition: .4s ease;
    border:1px solid white;
}
.ordr3:hover{

    background-color:  rgb(131, 22, 42);
    
} 
.ordr4{

    text-decoration:none;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 50px;
    height: 30px;
    width: 120px;
    text-align: center;
    padding-top: 12px;
    font-weight: 700;
    transition: .4s ease;
    border:1px solid white;
}
.ordr4:hover{

    background-color:  rgba(0, 0, 0, 0.789);
    
}

   .ftlnk {
    display: flex;
    gap: 50px;      
}
 
.hdr{
    font-size: 19px;
    font-weight: 400;
}
.lnk{

    text-decoration: none;
    color: rgba(0, 0, 0, 0.603);
}
.lnk:hover{
color: rgb(0, 0, 0);

}
.icns{
    gap: 20px;
}

.icns i{

    font-size: 28px;
    border-radius: 360px;
    padding: 5px;
    
    

}
.icns i:hover{

    background-color: rgba(0, 0, 0, 0.101);
}
.ftr{

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ftr a{
    color: black;
    text-decoration: none;

}
.ftr a:hover{
    text-decoration: underline;

}